@if (items.length) {
  <nav class="breadcrumb" aria-label="Fil d'Ariane">
    <ol>
      @for (item of items; track $index; let last = $last) {
        <li
          class="breadcrumb-item"
          [class.current]="last">
          @if (item.route && !last) {
            <a
              [routerLink]="item.route"
            class="breadcrumb-link">{{ item.label }}</a>
          }
          @if (!item.route || last) {
            <span class="breadcrumb-text">{{ item.label }}</span>
          }
        </li>
      }
    </ol>
  </nav>
}
