<div class="sip">
  <div class="sip-frame" [style.aspectRatio]="aspectRatio">
    @if (imageId) {
      <img [src]="contentUrl(imageId)" alt="" />
      <button type="button" class="sip-remove" (click)="remove()" [title]="'singleImagePicker.removeImage' | translate">
        <lucide-icon [img]="X" [size]="14"></lucide-icon>
      </button>
    } @else {
      <app-image-uploader [compact]="true" (uploaded)="onUploaded($event)"></app-image-uploader>
    }
  </div>
  @if (hint) {
    <small class="sip-hint">{{ hint }}</small>
  }
</div>
